Repository FuelLabs/sway-applications, pull requests merged in 2022-11, with the labels that each got.

#282 Update forc to correct version in README shield
  README.md
Labels: Documentation, Repo Misc

#238 Name Registry contract
  .github/scripts/build.sh
  .github/workflows/ci.yml
  README.md
  name-registry/.docs/name-registry-logo-dark-theme.png
  name-registry/.docs/name-registry-logo-light-theme.png
  name-registry/.gitignore
  name-registry/Cargo.toml
  name-registry/Forc.toml
  name-registry/README.md
  name-registry/SPECIFICATION.md
  name-registry/src/data_structures.sw
  name-registry/src/errors.sw
  name-registry/src/events.sw
  name-registry/src/interface.sw
  name-registry/src/main.sw
  name-registry/tests/functions/expiry.rs
  name-registry/tests/functions/extend.rs
  name-registry/tests/functions/identity.rs
  name-registry/tests/functions/mod.rs
  name-registry/tests/functions/owner.rs
  name-registry/tests/functions/register.rs
  name-registry/tests/functions/set_identity.rs
  name-registry/tests/functions/set_owner.rs
  name-registry/tests/harness.rs
  name-registry/tests/utils/abi.rs
  name-registry/tests/utils/mod.rs
Labels: New Feature, App: Name Registry

#259 feat: oracle node
  .github/scripts/forc-handler.sh
  APPLICATION_PROGRESS.md
  oracle/Cargo.toml
  oracle/README.md
  oracle/packages/contract/.gitignore
  oracle/packages/contract/Cargo.toml
  oracle/packages/contract/Forc.toml
  oracle/packages/contract/src/data_structures.sw
  oracle/packages/contract/src/errors.sw
  oracle/packages/contract/src/events.sw
  oracle/packages/contract/src/interface.sw
  oracle/packages/contract/src/main.sw
  oracle/packages/contract/tests/functions/mod.rs
  oracle/packages/contract/tests/functions/owner.rs
  oracle/packages/contract/tests/functions/price.rs
  oracle/packages/contract/tests/functions/set_price.rs
  oracle/packages/contract/tests/harness.rs
  oracle/packages/node/.chainConfig.json
  oracle/packages/node/.env.example
  oracle/packages/node/.gitignore
  oracle/packages/node/Cargo.toml
  oracle/packages/node/src/lib.rs
  oracle/packages/node/src/main.rs
  oracle/packages/node/tests/functions/mod.rs
  oracle/packages/node/tests/functions/run.rs
  oracle/packages/node/tests/harness.rs
  oracle/packages/utils/Cargo.toml
  oracle/packages/utils/src/lib.rs
Labels: New Feature, App: Oracle

#142 OTC swap predicate
  .github/scripts/forc-handler.sh
  .github/workflows/ci.yml
  APPLICATION_PROGRESS.md
  README.md
  otc-swap-predicate/.docs/otc-swap-predicate-logo-dark-theme.png
  otc-swap-predicate/.docs/otc-swap-predicate-logo-light-theme.png
  otc-swap-predicate/.gitignore
  otc-swap-predicate/Cargo.toml
  otc-swap-predicate/Forc.toml
  otc-swap-predicate/README.md
  otc-swap-predicate/src/main.sw
  otc-swap-predicate/tests/harness.rs
  otc-swap-predicate/tests/utils/mod.rs
Labels: New Feature

#292 Bump Airdrop-Distributor to use sway-libs v0.2.0
  APPLICATION_PROGRESS.md
  airdrop/airdrop-distributor/Cargo.toml
  airdrop/airdrop-distributor/Forc.toml
  airdrop/airdrop-distributor/src/events.sw
  airdrop/airdrop-distributor/src/interface.sw
  airdrop/airdrop-distributor/src/main.sw
  airdrop/airdrop-distributor/src/utils.sw
  airdrop/airdrop-distributor/tests/functions/claim.rs
  airdrop/airdrop-distributor/tests/functions/claim_data.rs
  airdrop/airdrop-distributor/tests/functions/constructor.rs
  airdrop/airdrop-distributor/tests/functions/end_block.rs
  airdrop/airdrop-distributor/tests/functions/merkle_root.rs
  airdrop/airdrop-distributor/tests/utils/mod.rs
  airdrop/simple-asset/src/interface.sw
  airdrop/simple-asset/src/main.sw
Labels: Repo Misc, App: Airdrop

#299 Fundraiser paths mod
  fundraiser/tests/utils/mod.rs
Labels: Good First Issue, Improvement, App: Fundraiser

#302 fix DAO link in README
  README.md
Labels: Repo Misc

#230 AMM Application Contracts Port
  .github/workflows/ci.yml
  AMM/.docs/amm-sequence-diagram.png
  AMM/.docs/amm_logo-dark_theme.png
  AMM/.docs/amm_logo-light_theme.png
  AMM/.gitignore
  AMM/Cargo.toml
  AMM/Forc.toml
  AMM/README.md
  AMM/SPECIFICATION.md
  AMM/project/contracts/AMM-contract/Cargo.toml
  AMM/project/contracts/AMM-contract/Forc.toml
  AMM/project/contracts/AMM-contract/src/errors.sw
  AMM/project/contracts/AMM-contract/src/events.sw
  AMM/project/contracts/AMM-contract/src/main.sw
  AMM/project/contracts/AMM-contract/tests/functions/add_pool.rs
  AMM/project/contracts/AMM-contract/tests/functions/initialize.rs
  AMM/project/contracts/AMM-contract/tests/functions/mod.rs
  AMM/project/contracts/AMM-contract/tests/functions/pool.rs
  AMM/project/contracts/AMM-contract/tests/harness.rs
  AMM/project/contracts/AMM-contract/tests/utils/mod.rs
  AMM/project/contracts/exchange-contract/Cargo.toml
  AMM/project/contracts/exchange-contract/Forc.toml
  AMM/project/contracts/exchange-contract/src/errors.sw
  AMM/project/contracts/exchange-contract/src/events.sw
  AMM/project/contracts/exchange-contract/src/main.sw
  AMM/project/contracts/exchange-contract/src/utils.sw
  AMM/project/contracts/exchange-contract/tests/artifacts/malicious-implementation/Forc.toml
  AMM/project/contracts/exchange-contract/tests/artifacts/malicious-implementation/src/main.sw
  AMM/project/contracts/exchange-contract/tests/functions/add_liquidity.rs
  AMM/project/contracts/exchange-contract/tests/functions/balance.rs
  AMM/project/contracts/exchange-contract/tests/functions/constructor.rs
  AMM/project/contracts/exchange-contract/tests/functions/deposit.rs
  AMM/project/contracts/exchange-contract/tests/functions/mod.rs
  AMM/project/contracts/exchange-contract/tests/functions/pool_info.rs
  AMM/project/contracts/exchange-contract/tests/functions/preview_add_liquidity.rs
  AMM/project/contracts/exchange-contract/tests/functions/preview_swap_with_exact_input.rs
  AMM/project/contracts/exchange-contract/tests/functions/preview_swap_with_exact_output.rs
  AMM/project/contracts/exchange-contract/tests/functions/remove_liquidity.rs
  AMM/project/contracts/exchange-contract/tests/functions/swap_with_exact_input.rs
  AMM/project/contracts/exchange-contract/tests/functions/swap_with_exact_output.rs
  AMM/project/contracts/exchange-contract/tests/functions/withdraw.rs
  AMM/project/contracts/exchange-contract/tests/harness.rs
  AMM/project/contracts/exchange-contract/tests/utils/mod.rs
  AMM/project/libraries/Forc.toml
  AMM/project/libraries/src/data_structures.sw
  AMM/project/libraries/src/interface.sw
  APPLICATION_PROGRESS.md
  README.md
Labels: New Feature, App: AMM

#303 Update AMM progress
  APPLICATION_PROGRESS.md
Labels: Documentation, App: AMM

#306 Update README.md
  OTC-swap-predicate/README.md
Labels: Documentation, Good First Issue, App: OTC Predicate
