Repository FuelLabs/sway-applications, pull requests merged in 2022-08, with the labels that each got.

#48 Basic nft contract
  .github/scripts/build.sh
  .github/workflows/ci.yml
  NFT/.docs/nft-logo_black.png
  NFT/.docs/nft-logo_white.png
  NFT/.gitignore
  NFT/Cargo.toml
  NFT/Forc.toml
  NFT/README.md
  NFT/src/data_structures.sw
  NFT/src/errors.sw
  NFT/src/interface.sw
  NFT/src/main.sw
  NFT/tests/harness.rs
  NFT/tests/utils/mod.rs
  README.md
Labels: New Feature, App: NFT

#182 Break Escrow `harness.rs` into individual modules
  escrow/tests/functions/accept_arbiter.rs
  escrow/tests/functions/create_escrow.rs
  escrow/tests/functions/deposit.rs
  escrow/tests/functions/dispute.rs
  escrow/tests/functions/mod.rs
  escrow/tests/functions/propose_arbiter.rs
  escrow/tests/functions/resolve_dispute.rs
  escrow/tests/functions/return_deposit.rs
  escrow/tests/functions/take_payment.rs
  escrow/tests/functions/transfer_to_seller.rs
  escrow/tests/functions/withdraw_collateral.rs
  escrow/tests/harness.rs
Labels: Good First Issue, Improvement, App: Escrow

#187 Break DAO `harness.rs` into individual modules
  dao-voting/tests/functions/balance.rs
  dao-voting/tests/functions/constructor.rs
  dao-voting/tests/functions/create_proposal.rs
  dao-voting/tests/functions/deposit.rs
  dao-voting/tests/functions/execute.rs
  dao-voting/tests/functions/governance_token_id.rs
  dao-voting/tests/functions/mod.rs
  dao-voting/tests/functions/proposal.rs
  dao-voting/tests/functions/proposal_count.rs
  dao-voting/tests/functions/unlock_votes.rs
  dao-voting/tests/functions/user_balance.rs
  dao-voting/tests/functions/user_votes.rs
  dao-voting/tests/functions/vote.rs
  dao-voting/tests/functions/withdraw.rs
  dao-voting/tests/harness.rs
Labels: Good First Issue, Improvement, App: DAO

#188 Break NFT `harness.rs` into individual modules
  NFT/tests/functions/admin.rs
  NFT/tests/functions/approve.rs
  NFT/tests/functions/approved.rs
  NFT/tests/functions/balance_of.rs
  NFT/tests/functions/burn.rs
  NFT/tests/functions/constructor.rs
  NFT/tests/functions/is_approved_for_all.rs
  NFT/tests/functions/max_supply.rs
  NFT/tests/functions/meta_data.rs
  NFT/tests/functions/mint.rs
  NFT/tests/functions/mod.rs
  NFT/tests/functions/owner_of.rs
  NFT/tests/functions/set_admin.rs
  NFT/tests/functions/set_approval_for_all.rs
  NFT/tests/functions/total_supply.rs
  NFT/tests/functions/transfer_from.rs
  NFT/tests/harness.rs
Labels: New Feature, Good First Issue, Improvement

#200 Update `action-fuel-toolchain` to v0.2.0 in CI
  .github/workflows/ci.yml
Labels: Repo Misc

#195 Update the README for all projects
  NFT/README.md
  dao-voting/README.md
  escrow/README.md
  fundraiser/README.md
  multisig-wallet/README.md
Labels: Documentation, Good First Issue

#206 Update SPECIFICATION.md
  escrow/SPECIFICATION.md
  fundraiser/SPECIFICATION.md
Labels: Documentation, Good First Issue

#204 Create a spec for the `DAO` similar to the `Escrow`
  dao-voting/.docs/dao-sequence-diagram.png
  dao-voting/README.md
  dao-voting/SPECIFICATION.md
Labels: Documentation, Good First Issue, App: DAO
