Repository FuelLabs/sway-applications, pull requests merged in 2022-12, with the labels that each got.

#308 AMM: Remove "with"s from the swap functions
  AMM/SPECIFICATION.md
  AMM/project/contracts/exchange-contract/src/main.sw
  AMM/project/contracts/exchange-contract/tests/artifacts/malicious-implementation/src/main.sw
  AMM/project/contracts/exchange-contract/tests/functions/mod.rs
  AMM/project/contracts/exchange-contract/tests/functions/preview_swap_exact_input.rs
  AMM/project/contracts/exchange-contract/tests/functions/preview_swap_exact_output.rs
  AMM/project/contracts/exchange-contract/tests/functions/swap_exact_input.rs
  AMM/project/contracts/exchange-contract/tests/functions/swap_exact_output.rs
  AMM/project/contracts/exchange-contract/tests/utils/mod.rs
  AMM/project/libraries/src/interface.sw
Labels: Improvement, App: AMM

#310 improve summaries of preview swap functions
  AMM/project/libraries/src/interface.sw
Labels: Improvement, App: AMM

#311 Move English Auction documentation to correct location
  README.md
  auctions/english-auction/.docs/english-auction-sequence-diagram.png
  auctions/english-auction/.docs/english-auction_dark.png
  auctions/english-auction/.docs/english-auction_light.png
  auctions/english-auction/README.md
  auctions/english-auction/SPECIFICATION.md
Labels: Bug, Documentation, App: Auctions

#316 AMM: Improve contracts and tests
  AMM/project/contracts/AMM-contract/tests/functions/add_pool.rs
  AMM/project/contracts/AMM-contract/tests/utils/mod.rs
  AMM/project/contracts/exchange-contract/src/main.sw
  AMM/project/contracts/exchange-contract/src/utils.sw
  AMM/project/contracts/exchange-contract/tests/functions/add_liquidity.rs
  AMM/project/contracts/exchange-contract/tests/functions/preview_add_liquidity.rs
  AMM/project/contracts/exchange-contract/tests/functions/preview_swap_exact_input.rs
  AMM/project/contracts/exchange-contract/tests/functions/preview_swap_exact_output.rs
  AMM/project/contracts/exchange-contract/tests/functions/remove_liquidity.rs
  AMM/project/contracts/exchange-contract/tests/functions/swap_exact_input.rs
  AMM/project/contracts/exchange-contract/tests/utils/mod.rs
Labels: Improvement, App: AMM

#314 Remove English Auction App Dependency on NFT App
  auctions/Forc.toml
  auctions/english-auction/project/auction-contract/Forc.toml
  auctions/english-auction/project/auction-contract/src/interface.sw
  auctions/english-auction/project/auction-contract/src/main.sw
  auctions/english-auction/project/auction-contract/src/utils.sw
  auctions/english-auction/project/auction-contract/tests/artifacts/NFT/.gitignore
  auctions/english-auction/project/auction-contract/tests/artifacts/NFT/Forc.toml
  auctions/english-auction/project/auction-contract/tests/artifacts/NFT/src/main.sw
  auctions/english-auction/project/auction-contract/tests/functions/bid.rs
  auctions/english-auction/project/auction-contract/tests/functions/create.rs
  auctions/english-auction/project/auction-contract/tests/functions/deposit_balance.rs
  auctions/english-auction/project/auction-contract/tests/functions/total_auctions.rs
  auctions/english-auction/project/auction-contract/tests/functions/withdraw.rs
  auctions/english-auction/project/auction-contract/tests/utils/mod.rs
Labels: Improvement, App: Auctions

#296 Refactor NFT Application to use the Sway-Libs NFT Library
  NFT/README.md
  NFT/project/NFT-contract/Forc.toml
  NFT/project/NFT-contract/src/data_structures.sw
  NFT/project/NFT-contract/src/errors.sw
  NFT/project/NFT-contract/src/interface.sw
  NFT/project/NFT-contract/src/main.sw
  NFT/project/NFT-contract/tests/functions/admin.rs
  NFT/project/NFT-contract/tests/functions/approve.rs
  NFT/project/NFT-contract/tests/functions/approved.rs
  NFT/project/NFT-contract/tests/functions/balance_of.rs
  NFT/project/NFT-contract/tests/functions/burn.rs
  NFT/project/NFT-contract/tests/functions/constructor.rs
  NFT/project/NFT-contract/tests/functions/is_approved_for_all.rs
  NFT/project/NFT-contract/tests/functions/max_supply.rs
  NFT/project/NFT-contract/tests/functions/meta_data.rs
  NFT/project/NFT-contract/tests/functions/mint.rs
  NFT/project/NFT-contract/tests/functions/mod.rs
  NFT/project/NFT-contract/tests/functions/owner_of.rs
  NFT/project/NFT-contract/tests/functions/set_admin.rs
  NFT/project/NFT-contract/tests/functions/set_approval_for_all.rs
  NFT/project/NFT-contract/tests/functions/token_metadata.rs
  NFT/project/NFT-contract/tests/functions/tokens_minted.rs
  NFT/project/NFT-contract/tests/functions/total_supply.rs
  NFT/project/NFT-contract/tests/functions/transfer.rs
  NFT/project/NFT-contract/tests/functions/transfer_from.rs
  NFT/project/NFT-contract/tests/harness.rs
  NFT/project/NFT-contract/tests/utils/mod.rs
Labels: Improvement, App: NFT

#327 Update docs theme/highlight.js
  .docs/contributing-book/theme/highlight.js
Labels: Documentation, Good First Issue

#329 Remove `mold` from CI
  .github/workflows/ci.yml
Labels: Repo Misc
