Repository FuelLabs/sway-applications, pull requests merged in 2022-10, with the labels that each got.

#255 Update which branch the airdrop-distributor is using to build sway-libs
  airdrop/airdrop-distributor/Forc.toml
Labels: Bug, Repo Misc

#249 Style guide for struct variables in book
  .docs/contributing-book/src/code/style_guide/src/lib.sw
  .docs/contributing-book/src/documentation/project-quality/documentation/code/style.md
Labels: Documentation

#252 Separate project structure in the contributing book into internal and external projects
  .docs/contributing-book/src/SUMMARY.md
  .docs/contributing-book/src/documentation/project-quality/index.md
  .docs/contributing-book/src/documentation/project-quality/project-structure/external.md
  .docs/contributing-book/src/documentation/project-quality/project-structure/index.md
  .docs/contributing-book/src/documentation/project-quality/project-structure/internal.md
Labels: Documentation

#256 chore: bump forc to v0.25.2 and sdk to v0.25
  .docs/contributing-book/src/code/connect_four/src/interface.sw
  .github/workflows/ci.yml
  NFT/Cargo.toml
  NFT/src/interface.sw
  NFT/src/main.sw
  NFT/tests/functions/admin.rs
  NFT/tests/functions/approve.rs
  NFT/tests/functions/approved.rs
  NFT/tests/functions/balance_of.rs
  NFT/tests/functions/burn.rs
  NFT/tests/functions/constructor.rs
  NFT/tests/functions/is_approved_for_all.rs
  NFT/tests/functions/max_supply.rs
  NFT/tests/functions/meta_data.rs
  NFT/tests/functions/mint.rs
  NFT/tests/functions/owner_of.rs
  NFT/tests/functions/set_admin.rs
  NFT/tests/functions/set_approval_for_all.rs
  NFT/tests/functions/total_supply.rs
  NFT/tests/functions/transfer_from.rs
  NFT/tests/utils/mod.rs
  README.md
  airdrop/airdrop-distributor/Cargo.toml
  airdrop/airdrop-distributor/src/interface.sw
  airdrop/airdrop-distributor/src/utils.sw
  airdrop/airdrop-distributor/tests/functions/claim.rs
  airdrop/airdrop-distributor/tests/functions/claim_data.rs
  airdrop/airdrop-distributor/tests/functions/constructor.rs
  airdrop/airdrop-distributor/tests/functions/end_block.rs
  airdrop/airdrop-distributor/tests/functions/merkle_root.rs
  airdrop/airdrop-distributor/tests/utils/mod.rs
  airdrop/simple-asset/Cargo.toml
  airdrop/simple-asset/src/interface.sw
  airdrop/simple-asset/tests/functions/constructor.rs
  airdrop/simple-asset/tests/functions/mint_to.rs
  airdrop/simple-asset/tests/utils/mod.rs
  dao-voting/Cargo.toml
  dao-voting/src/interface.sw
  dao-voting/src/main.sw
  dao-voting/tests/functions/create_proposal.rs
  dao-voting/tests/functions/deposit.rs
  dao-voting/tests/functions/proposal.rs
  dao-voting/tests/functions/vote.rs
  dao-voting/tests/utils/mod.rs
  escrow/src/interface.sw
  fundraiser/Cargo.toml
  fundraiser/src/interface.sw
  fundraiser/src/main.sw
  fundraiser/tests/utils/mod.rs
  multisig-wallet/Cargo.toml
  multisig-wallet/src/main.sw
  multisig-wallet/tests/harness.rs
  oracle/Cargo.toml
  oracle/src/interface.sw
  oracle/tests/functions/owner.rs
  oracle/tests/functions/set_price.rs
  oracle/tests/utils/mod.rs
Labels: Repo Misc

#261 Issue#260 Update the airdrop-distributor's interface comments
  airdrop/airdrop-distributor/src/interface.sw
Labels: Documentation, App: Airdrop

#266 Minor updates resolving issues #262, #263, #264 and #265
  dao-voting/src/interface.sw
  fundraiser/src/data_structures.sw
  fundraiser/src/interface.sw
  fundraiser/src/main.sw
  multisig-wallet/README.md
  multisig-wallet/src/main.sw
Labels: Bug, Documentation, App: Multisig, App: DAO, App: Fundraiser

#258 chore: update to latest sdk version
  APPLICATION_PROGRESS.md
  escrow/Cargo.toml
  escrow/README.md
  escrow/src/data_structures.sw
  escrow/src/interface.sw
  escrow/src/main.sw
  escrow/tests/artifacts/asset/Cargo.toml
  escrow/tests/functions/create_escrow.rs
  escrow/tests/functions/deposit.rs
  escrow/tests/functions/propose_arbiter.rs
  escrow/tests/utils/mod.rs
Labels: Repo Misc

#271 Add periods because OCD is screaming at me
  README.md
Labels: Documentation

#92 English Auction
  .github/scripts/build.sh
  .github/workflows/ci.yml
  APPLICATION_PROGRESS.md
  README.md
  auctions/english-auction/.docs/english-auction-sequence-diagram.png
  auctions/english-auction/.docs/english-auction_dark.png
  auctions/english-auction/.docs/english-auction_light.png
  auctions/english-auction/.gitignore
  auctions/english-auction/Cargo.toml
  auctions/english-auction/Forc.toml
  auctions/english-auction/README.md
  auctions/english-auction/SPECIFICATION.md
  auctions/english-auction/src/data_structures/auction.sw
  auctions/english-auction/src/data_structures/auction_asset.sw
  auctions/english-auction/src/data_structures/nft_asset.sw
  auctions/english-auction/src/data_structures/state.sw
  auctions/english-auction/src/data_structures/token_asset.sw
  auctions/english-auction/src/data_structures/traits.sw
  auctions/english-auction/src/errors.sw
  auctions/english-auction/src/events.sw
  auctions/english-auction/src/interface.sw
  auctions/english-auction/src/main.sw
  auctions/english-auction/src/utils.sw
  auctions/english-auction/tests/artifacts/asset/.gitignore
  auctions/english-auction/tests/artifacts/asset/Forc.toml
  auctions/english-auction/tests/artifacts/asset/src/main.sw
  auctions/english-auction/tests/functions/auction_info.rs
  auctions/english-auction/tests/functions/bid.rs
  auctions/english-auction/tests/functions/cancel.rs
  auctions/english-auction/tests/functions/create.rs
  auctions/english-auction/tests/functions/deposit_balance.rs
  auctions/english-auction/tests/functions/mod.rs
  auctions/english-auction/tests/functions/total_auctions.rs
  auctions/english-auction/tests/functions/withdraw.rs
  auctions/english-auction/tests/harness.rs
  auctions/english-auction/tests/utils/mod.rs
Labels: New Feature, Good First Issue, App: Auctions
