Repository FuelLabs/sway-applications, pull requests merged in 2023-01, with the labels that each got.

#333 Update the style guide for the contributing book
  .docs/contributing-book/src/code/Forc.toml
  .docs/contributing-book/src/code/style_guide/Forc.toml
  .docs/contributing-book/src/code/style_guide/src/lib.sw
  .docs/contributing-book/src/documentation/project-quality/documentation/code/style.md
Labels: Documentation

#332 Basic devops scripts
  .devops/build.sh
  .devops/test.sh
Labels: New Feature

#352 updated readme, see issue #351
  README.md
Labels: Documentation, Good First Issue

#343 Create an Application Template
  .github/workflows/ci.yml
  .template/.docs/Forc.toml
  .template/.gitignore
  .template/Cargo.toml
  .template/Forc.toml
  .template/README.md
  .template/SPECIFICATION.md
  .template/project/template-contract/Cargo.toml
  .template/project/template-contract/Forc.toml
  .template/project/template-contract/src/data_structures/example.sw
  .template/project/template-contract/src/errors.sw
  .template/project/template-contract/src/events.sw
  .template/project/template-contract/src/interface.sw
  .template/project/template-contract/src/main.sw
  .template/project/template-contract/src/utils.sw
  .template/project/template-contract/tests/functions/core/mod.rs
  .template/project/template-contract/tests/functions/core/template.rs
  .template/project/template-contract/tests/functions/info/mod.rs
  .template/project/template-contract/tests/functions/mod.rs
  .template/project/template-contract/tests/harness.rs
  .template/project/template-contract/tests/utils/interface/core.rs
  .template/project/template-contract/tests/utils/interface/info.rs
  .template/project/template-contract/tests/utils/interface/mod.rs
  .template/project/template-contract/tests/utils/mod.rs
  .template/project/template-contract/tests/utils/setup.rs
Labels: Repo Misc

#354 Generic template for the Vault
  .devops/build.sh
  .devops/test.sh
  .github/workflows/ci.yml
  README.md
  Vault/.docs/vault-logo-dark-theme.png
  Vault/.docs/vault-logo-light-theme.png
  Vault/.gitignore
  Vault/Cargo.toml
  Vault/Forc.toml
  Vault/README.md
  Vault/SPECIFICATION.md
  Vault/project/vault-contract/Cargo.toml
  Vault/project/vault-contract/Forc.toml
  Vault/project/vault-contract/src/data_structures/example.sw
  Vault/project/vault-contract/src/errors.sw
  Vault/project/vault-contract/src/events.sw
  Vault/project/vault-contract/src/interface.sw
  Vault/project/vault-contract/src/main.sw
  Vault/project/vault-contract/src/utils.sw
  Vault/project/vault-contract/tests/functions/core/mod.rs
  Vault/project/vault-contract/tests/functions/core/template.rs
  Vault/project/vault-contract/tests/functions/info/mod.rs
  Vault/project/vault-contract/tests/functions/mod.rs
  Vault/project/vault-contract/tests/harness.rs
  Vault/project/vault-contract/tests/utils/interface/core.rs
  Vault/project/vault-contract/tests/utils/interface/info.rs
  Vault/project/vault-contract/tests/utils/interface/mod.rs
  Vault/project/vault-contract/tests/utils/mod.rs
  Vault/project/vault-contract/tests/utils/setup.rs
Labels: New Feature, App: Vault

#361 fix: add version tag to sway libs dep
  airdrop/project/contracts/distributor-contract/Forc.toml
Labels: Bug, App: Airdrop

#272 Multisig-wallet ETH signature support
  multisig-wallet/.docs/multisig-wallet-sequence-diagram.png
  multisig-wallet/Cargo.toml
  multisig-wallet/README.md
  multisig-wallet/SPECIFICATION.md
  multisig-wallet/project/multisig-contract/Cargo.toml
  multisig-wallet/project/multisig-contract/src/contract_abi.sw
  multisig-wallet/project/multisig-contract/src/data_structures.sw
  multisig-wallet/project/multisig-contract/src/errors.sw
  multisig-wallet/project/multisig-contract/src/events.sw
  multisig-wallet/project/multisig-contract/src/interface.sw
  multisig-wallet/project/multisig-contract/src/main.sw
  multisig-wallet/project/multisig-contract/src/utils.sw
  multisig-wallet/project/multisig-contract/tests/functions/balance.rs
  multisig-wallet/project/multisig-contract/tests/functions/cancel_transaction.rs
  multisig-wallet/project/multisig-contract/tests/functions/constructor.rs
  multisig-wallet/project/multisig-contract/tests/functions/execute_transaction.rs
  multisig-wallet/project/multisig-contract/tests/functions/mod.rs
  multisig-wallet/project/multisig-contract/tests/functions/nonce.rs
  multisig-wallet/project/multisig-contract/tests/functions/transaction_hash.rs
  multisig-wallet/project/multisig-contract/tests/functions/transfer.rs
  multisig-wallet/project/multisig-contract/tests/harness.rs
  multisig-wallet/project/multisig-contract/tests/utils/mod.rs
Labels: New Feature, App: Multisig

#360 fix: initial price bug
  airdrop/project/contracts/distributor-contract/Forc.toml
  auctions/english-auction/project/auction-contract/src/main.sw
  auctions/english-auction/project/auction-contract/tests/functions/create.rs
  auctions/english-auction/project/auction-contract/tests/utils/mod.rs
Labels: Bug, App: Auctions

#349 Chess: Initial setup and docs
  chess-game/.docs/chess-sequence-diagram.png
  chess-game/.docs/chess_logo-dark-theme.png
  chess-game/.docs/chess_logo-light-theme.png
  chess-game/.gitignore
  chess-game/Forc.toml
  chess-game/README.md
  chess-game/SEQUENCE.mmd
  chess-game/SPECIFICATION.md
  chess-game/project/chess/.gitignore
  chess-game/project/chess/Forc.toml
  chess-game/project/chess/src/lib.sw
Labels: Documentation, New Application, App: Games

#338 Timelock Smart Contract
  .devops/build.sh
  .devops/test.sh
  .github/workflows/ci.yml
  README.md
  Timelock/.docs/timelock-logo-dark-theme.png
  Timelock/.docs/timelock-logo-light-theme.png
  Timelock/.docs/timelock-sequence-diagram.png
  Timelock/.docs/timelock-timestamp-validity.png
  Timelock/.gitignore
  Timelock/Cargo.toml
  Timelock/Forc.toml
  Timelock/README.md
  Timelock/SPECIFICATION.md
  Timelock/project/timelock-contract/.gitignore
  Timelock/project/timelock-contract/Cargo.toml
  Timelock/project/timelock-contract/Forc.toml
  Timelock/project/timelock-contract/src/data_structures.sw
  Timelock/project/timelock-contract/src/errors.sw
  Timelock/project/timelock-contract/src/events.sw
  Timelock/project/timelock-contract/src/interface.sw
  Timelock/project/timelock-contract/src/main.sw
  Timelock/project/timelock-contract/src/utils.sw
  Timelock/project/timelock-contract/tests/functions/core/cancel.rs
  Timelock/project/timelock-contract/tests/functions/core/execute.rs
  Timelock/project/timelock-contract/tests/functions/core/mod.rs
  Timelock/project/timelock-contract/tests/functions/core/queue.rs
  Timelock/project/timelock-contract/tests/functions/info/balance.rs
  Timelock/project/timelock-contract/tests/functions/info/delays.rs
  Timelock/project/timelock-contract/tests/functions/info/mod.rs
  Timelock/project/timelock-contract/tests/functions/info/queued.rs
  Timelock/project/timelock-contract/tests/functions/info/transaction_hash.rs
  Timelock/project/timelock-contract/tests/functions/mod.rs
  Timelock/project/timelock-contract/tests/harness.rs
  Timelock/project/timelock-contract/tests/utils/interface/core.rs
  Timelock/project/timelock-contract/tests/utils/interface/info.rs
  Timelock/project/timelock-contract/tests/utils/interface/mod.rs
  Timelock/project/timelock-contract/tests/utils/mod.rs
  Timelock/project/timelock-contract/tests/utils/setup.rs
Labels: New Feature, App: Timelock

#368 Contributing Book: Improve Testing Page
  .docs/contributing-book/src/documentation/project-quality/testing.md
Labels: Documentation

#381 AMM staging: Remove automatically readded file
  AMM/project/test-utils/src/transaction.rs
Labels: App: AMM

#372 Expand threshold functionality in the `Multisig`
  multisig-wallet/SPECIFICATION.md
  multisig-wallet/project/multisig-contract/Forc.toml
  multisig-wallet/project/multisig-contract/src/events.sw
  multisig-wallet/project/multisig-contract/src/interface.sw
  multisig-wallet/project/multisig-contract/src/main.sw
  multisig-wallet/project/multisig-contract/tests/functions/core/cancel_transaction.rs
  multisig-wallet/project/multisig-contract/tests/functions/core/constructor.rs
  multisig-wallet/project/multisig-contract/tests/functions/core/execute_transaction.rs
  multisig-wallet/project/multisig-contract/tests/functions/core/mod.rs
  multisig-wallet/project/multisig-contract/tests/functions/core/set_threshold.rs
  multisig-wallet/project/multisig-contract/tests/functions/core/transfer.rs
  multisig-wallet/project/multisig-contract/tests/functions/info/balance.rs
  multisig-wallet/project/multisig-contract/tests/functions/info/mod.rs
  multisig-wallet/project/multisig-contract/tests/functions/info/nonce.rs
  multisig-wallet/project/multisig-contract/tests/functions/info/threshold.rs
  multisig-wallet/project/multisig-contract/tests/functions/info/transaction_hash.rs
  multisig-wallet/project/multisig-contract/tests/functions/info/update_hash.rs
  multisig-wallet/project/multisig-contract/tests/functions/mod.rs
  multisig-wallet/project/multisig-contract/tests/utils/interface/core.rs
  multisig-wallet/project/multisig-contract/tests/utils/interface/info.rs
  multisig-wallet/project/multisig-contract/tests/utils/interface/mod.rs
  multisig-wallet/project/multisig-contract/tests/utils/mod.rs
  multisig-wallet/project/multisig-contract/tests/utils/setup.rs
Labels: New Feature, App: Multisig

#157 Tic-Tac-Toe application
  .devops/build.sh
  .devops/test.sh
  .github/workflows/ci.yml
  README.md
  games/.gitignore
  games/TicTacToe/.docs/tictactoe-logo-dark-theme.png
  games/TicTacToe/.docs/tictactoe-logo-light-theme.png
  games/TicTacToe/.docs/tictactoe-sequence-diagram.png
  games/TicTacToe/.gitignore
  games/TicTacToe/Cargo.toml
  games/TicTacToe/Forc.toml
  games/TicTacToe/README.md
  games/TicTacToe/SPECIFICATION.md
  games/TicTacToe/project/tictactoe-contract/Cargo.toml
  games/TicTacToe/project/tictactoe-contract/Forc.toml
  games/TicTacToe/project/tictactoe-contract/src/data_structures.sw
  games/TicTacToe/project/tictactoe-contract/src/errors.sw
  games/TicTacToe/project/tictactoe-contract/src/events.sw
  games/TicTacToe/project/tictactoe-contract/src/interface.sw
  games/TicTacToe/project/tictactoe-contract/src/main.sw
  games/TicTacToe/project/tictactoe-contract/src/utils.sw
  games/TicTacToe/project/tictactoe-contract/tests/functions/make_move.rs
  games/TicTacToe/project/tictactoe-contract/tests/functions/mod.rs
  games/TicTacToe/project/tictactoe-contract/tests/functions/new_game.rs
  games/TicTacToe/project/tictactoe-contract/tests/harness.rs
  games/TicTacToe/project/tictactoe-contract/tests/utils/interface.rs
  games/TicTacToe/project/tictactoe-contract/tests/utils/mod.rs
  games/TicTacToe/project/tictactoe-contract/tests/utils/setup.rs
Labels: New Feature, Good First Issue, App: Games

#387 Fix broken links in sway-applications NFT docs
  NFT/README.md
Labels: Documentation, App: NFT
