Repository FuelLabs/sway-applications, pull requests merged in 2023-07, with the labels that each got.

#681 Bump `name-registry`
  name-registry/.gitignore
  name-registry/README.md
  name-registry/project/Cargo.lock
  name-registry/project/Forc.lock
  name-registry/project/contracts/registry-contract/Cargo.toml
  name-registry/project/contracts/registry-contract/src/main.sw
  name-registry/project/contracts/registry-contract/tests/utils/setup.rs
  name-registry/project/fuel-toolchain.toml
Labels: Repo Misc, App: Name Registry

#702 Bump CI
  .docs/contributing-book/src/code/Forc.lock
  .docs/contributing-book/src/code/fuel-toolchain.toml
  .github/workflows/ci.yml
Labels: Repo Misc

#703 Name-Registry: accept multiple assets for payment
  name-registry/project/SPECIFICATION.md
  name-registry/project/contracts/registry-contract/src/data_structures.sw
  name-registry/project/contracts/registry-contract/src/errors.sw
  name-registry/project/contracts/registry-contract/src/events.sw
  name-registry/project/contracts/registry-contract/src/interface.sw
  name-registry/project/contracts/registry-contract/src/main.sw
  name-registry/project/contracts/registry-contract/tests/functions/core/extend.rs
  name-registry/project/contracts/registry-contract/tests/functions/core/mod.rs
  name-registry/project/contracts/registry-contract/tests/functions/core/register.rs
  name-registry/project/contracts/registry-contract/tests/functions/core/set_asset.rs
  name-registry/project/contracts/registry-contract/tests/functions/core/set_identity.rs
  name-registry/project/contracts/registry-contract/tests/functions/core/set_owner.rs
  name-registry/project/contracts/registry-contract/tests/functions/info/expiry.rs
  name-registry/project/contracts/registry-contract/tests/functions/info/identity.rs
  name-registry/project/contracts/registry-contract/tests/functions/info/mod.rs
  name-registry/project/contracts/registry-contract/tests/functions/info/owner.rs
  name-registry/project/contracts/registry-contract/tests/functions/info/rate.rs
  name-registry/project/contracts/registry-contract/tests/utils/interface/core.rs
  name-registry/project/contracts/registry-contract/tests/utils/interface/info.rs
  name-registry/project/contracts/registry-contract/tests/utils/setup.rs
Labels: New Feature, App: Name Registry

#680 Bump `multisig-wallet `
  multisig-wallet/.gitignore
  multisig-wallet/README.md
  multisig-wallet/project/Cargo.lock
  multisig-wallet/project/Forc.lock
  multisig-wallet/project/contracts/multisig-contract/Cargo.toml
  multisig-wallet/project/contracts/multisig-contract/src/data_structures.sw
  multisig-wallet/project/contracts/multisig-contract/src/main.sw
  multisig-wallet/project/contracts/multisig-contract/tests/functions/core/set_threshold.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/core/set_weight.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/core/transfer.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/info/threshold_hash.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/info/transaction_hash.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/info/weight_hash.rs
  multisig-wallet/project/contracts/multisig-contract/tests/utils/interface/core.rs
  multisig-wallet/project/contracts/multisig-contract/tests/utils/interface/info.rs
  multisig-wallet/project/contracts/multisig-contract/tests/utils/setup.rs
  multisig-wallet/project/fuel-toolchain.toml
Labels: App: Multisig, Repo Misc

#685 Bump `oracle`
  oracle/.gitignore
  oracle/README.md
  oracle/project/Cargo.lock
  oracle/project/Forc.lock
  oracle/project/contracts/oracle-contract/Cargo.toml
  oracle/project/contracts/oracle-contract/src/main.sw
  oracle/project/contracts/oracle-contract/tests/functions/owner.rs
  oracle/project/fuel-toolchain.toml
  oracle/project/oracle-node/Cargo.toml
  oracle/project/oracle-node/src/lib.rs
  oracle/project/oracle-node/src/main.rs
  oracle/project/oracle-node/tests/functions/mod.rs
  oracle/project/oracle-node/tests/functions/run.rs
  oracle/project/utils/Cargo.toml
  oracle/project/utils/src/lib.rs
Labels: Repo Misc, App: Oracle

#670 Bump AMM
  AMM/.gitignore
  AMM/README.md
  AMM/project/Cargo.lock
  AMM/project/Cargo.toml
  AMM/project/Forc.lock
  AMM/project/Forc.toml
  AMM/project/contracts/AMM-contract/Cargo.toml
  AMM/project/contracts/AMM-contract/src/errors.sw
  AMM/project/contracts/AMM-contract/src/events.sw
  AMM/project/contracts/AMM-contract/src/main.sw
  AMM/project/contracts/exchange-contract/Cargo.toml
  AMM/project/contracts/exchange-contract/src/errors.sw
  AMM/project/contracts/exchange-contract/src/events.sw
  AMM/project/contracts/exchange-contract/src/main.sw
  AMM/project/contracts/exchange-contract/src/utils.sw
  AMM/project/contracts/exchange-contract/tests/utils/mod.rs
  AMM/project/contracts/test-artifacts/malicious-implementation/Forc.toml
  AMM/project/contracts/test-artifacts/malicious-implementation/src/main.sw
  AMM/project/fuel-toolchain.toml
  AMM/project/libraries/src/data_structures.sw
  AMM/project/libraries/src/interface.sw
  AMM/project/scripts/atomic-add-liquidity/Cargo.toml
  AMM/project/scripts/atomic-add-liquidity/src/main.sw
  AMM/project/scripts/atomic-add-liquidity/tests/utils/mod.rs
  AMM/project/scripts/swap-exact-input/Cargo.toml
  AMM/project/scripts/swap-exact-input/src/main.sw
  AMM/project/scripts/swap-exact-input/tests/utils/mod.rs
  AMM/project/scripts/swap-exact-output/Cargo.toml
  AMM/project/scripts/swap-exact-output/src/main.sw
  AMM/project/scripts/swap-exact-output/tests/utils/mod.rs
  AMM/project/test-utils/Cargo.toml
  AMM/project/test-utils/src/data_structures.rs
  AMM/project/test-utils/src/paths.rs
  AMM/project/test-utils/src/setup.rs
Labels: Repo Misc, App: AMM

#674 Bump `Airdrop`
  airdrop/README.md
  airdrop/project/Cargo.lock
  airdrop/project/Forc.lock
  airdrop/project/contracts/asset-contract/Cargo.toml
  airdrop/project/contracts/asset-contract/src/main.sw
  airdrop/project/contracts/asset-contract/tests/functions/mint_to.rs
  airdrop/project/contracts/distributor-contract/Cargo.toml
  airdrop/project/contracts/distributor-contract/Forc.toml
  airdrop/project/contracts/distributor-contract/src/main.sw
  airdrop/project/contracts/distributor-contract/tests/functions/core/claim.rs
  airdrop/project/contracts/distributor-contract/tests/functions/core/clawback.rs
  airdrop/project/contracts/distributor-contract/tests/functions/core/constructor.rs
  airdrop/project/contracts/distributor-contract/tests/functions/info/end_block.rs
  airdrop/project/contracts/distributor-contract/tests/utils/setup.rs
  airdrop/project/fuel-toolchain.toml
Labels: Repo Misc, App: Airdrop

#679 Bump `TicTacToe`
  games/TicTacToe/README.md
  games/TicTacToe/project/Cargo.lock
  games/TicTacToe/project/Forc.lock
  games/TicTacToe/project/contracts/tictactoe-contract/Cargo.toml
  games/TicTacToe/project/contracts/tictactoe-contract/src/main.sw
  games/TicTacToe/project/contracts/tictactoe-contract/tests/functions/make_move.rs
  games/TicTacToe/project/contracts/tictactoe-contract/tests/functions/new_game.rs
  games/TicTacToe/project/contracts/tictactoe-contract/tests/utils/interface.rs
  games/TicTacToe/project/contracts/tictactoe-contract/tests/utils/setup.rs
  games/TicTacToe/project/fuel-toolchain.toml
Labels: App: Games, Repo Misc

#669 Bump DAO
  DAO/.gitignore
  DAO/README.md
  DAO/project/Cargo.lock
  DAO/project/Forc.lock
  DAO/project/Forc.toml
  DAO/project/contracts/DAO-contract/Cargo.toml
  DAO/project/contracts/DAO-contract/src/data_structures.sw
  DAO/project/contracts/DAO-contract/src/main.sw
  DAO/project/contracts/DAO-contract/tests/artifacts/gov_token/Forc.toml
  DAO/project/contracts/DAO-contract/tests/artifacts/gov_token/src/main.sw
  DAO/project/contracts/DAO-contract/tests/functions/core/constructor.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/create_proposal.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/deposit.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/execute.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/unlock_votes.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/vote.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/withdraw.rs
  DAO/project/contracts/DAO-contract/tests/functions/info/balance.rs
  DAO/project/contracts/DAO-contract/tests/functions/info/governance_token_id.rs
  DAO/project/contracts/DAO-contract/tests/functions/info/proposal.rs
  DAO/project/contracts/DAO-contract/tests/functions/info/proposal_count.rs
  DAO/project/contracts/DAO-contract/tests/functions/info/user_balance.rs
  DAO/project/contracts/DAO-contract/tests/functions/info/user_votes.rs
  DAO/project/contracts/DAO-contract/tests/utils/setup.rs
  DAO/project/fuel-toolchain.toml
Labels: App: DAO, Repo Misc

#677 Bump `escrow`
  escrow/.gitignore
  escrow/README.md
  escrow/project/Cargo.lock
  escrow/project/Forc.lock
  escrow/project/Forc.toml
  escrow/project/contracts/escrow-contract/Cargo.toml
  escrow/project/contracts/escrow-contract/src/errors.sw
  escrow/project/contracts/escrow-contract/src/main.sw
  escrow/project/contracts/escrow-contract/tests/artifacts/asset/Forc.toml
  escrow/project/contracts/escrow-contract/tests/artifacts/asset/src/main.sw
  escrow/project/contracts/escrow-contract/tests/functions/core/accept_arbiter.rs
  escrow/project/contracts/escrow-contract/tests/functions/core/create_escrow.rs
  escrow/project/contracts/escrow-contract/tests/functions/core/deposit.rs
  escrow/project/contracts/escrow-contract/tests/functions/core/dispute.rs
  escrow/project/contracts/escrow-contract/tests/functions/core/propose_arbiter.rs
  escrow/project/contracts/escrow-contract/tests/functions/core/resolve_dispute.rs
  escrow/project/contracts/escrow-contract/tests/functions/core/return_deposit.rs
  escrow/project/contracts/escrow-contract/tests/functions/core/take_payment.rs
  escrow/project/contracts/escrow-contract/tests/functions/core/transfer_to_seller.rs
  escrow/project/contracts/escrow-contract/tests/functions/core/withdraw_collateral.rs
  escrow/project/contracts/escrow-contract/tests/functions/info/arbiter_proposal.rs
  escrow/project/contracts/escrow-contract/tests/functions/info/assets.rs
  escrow/project/contracts/escrow-contract/tests/functions/info/escrow_count.rs
  escrow/project/contracts/escrow-contract/tests/functions/info/escrows.rs
  escrow/project/contracts/escrow-contract/tests/harness.rs
  escrow/project/contracts/escrow-contract/tests/utils/setup.rs
  escrow/project/fuel-toolchain.toml
Labels: App: Escrow, Repo Misc

#678 Bump `fundraiser`
  fundraiser/.gitignore
  fundraiser/README.md
  fundraiser/project/Cargo.lock
  fundraiser/project/Forc.lock
  fundraiser/project/Forc.toml
  fundraiser/project/contracts/fundraiser-contract/Cargo.toml
  fundraiser/project/contracts/fundraiser-contract/src/data_structures.sw
  fundraiser/project/contracts/fundraiser-contract/src/main.sw
  fundraiser/project/contracts/fundraiser-contract/tests/artifacts/asset/Forc.toml
  fundraiser/project/contracts/fundraiser-contract/tests/artifacts/asset/src/main.sw
  fundraiser/project/contracts/fundraiser-contract/tests/functions/core/cancel_campaign.rs
  fundraiser/project/contracts/fundraiser-contract/tests/functions/core/claim_pledges.rs
  fundraiser/project/contracts/fundraiser-contract/tests/functions/core/create_campaign.rs
  fundraiser/project/contracts/fundraiser-contract/tests/functions/core/pledge.rs
  fundraiser/project/contracts/fundraiser-contract/tests/functions/core/unpledge.rs
  fundraiser/project/contracts/fundraiser-contract/tests/functions/info/asset_info_by_count.rs
  fundraiser/project/contracts/fundraiser-contract/tests/functions/info/asset_info_by_id.rs
  fundraiser/project/contracts/fundraiser-contract/tests/functions/info/campaign.rs
  fundraiser/project/contracts/fundraiser-contract/tests/functions/info/pledge_count.rs
  fundraiser/project/contracts/fundraiser-contract/tests/functions/info/pledged.rs
  fundraiser/project/contracts/fundraiser-contract/tests/harness.rs
  fundraiser/project/contracts/fundraiser-contract/tests/utils/interface/core.rs
  fundraiser/project/contracts/fundraiser-contract/tests/utils/interface/info.rs
  fundraiser/project/contracts/fundraiser-contract/tests/utils/setup.rs
  fundraiser/project/fuel-toolchain.toml
Labels: App: Fundraiser, Repo Misc

#710 Remove typo in English-auction's Forc.toml
  auctions/english-auction/project/Forc.toml
Labels: App: Auctions

#715 Update links for multi-token standard
  README.md
  archive/NFT/README.md
  archive/README.md
  archive/fractional-NFT/README.md
Labels: Documentation
