Repository FuelLabs/sway-applications, pull requests merged in 2023-08, with the labels that each got.

#720 Airdop and English Auctions docs
  airdrop/project/contracts/asset-contract/src/errors.sw
  airdrop/project/contracts/asset-contract/src/interface.sw
  airdrop/project/contracts/distributor-contract/src/data_structures.sw
  airdrop/project/contracts/distributor-contract/src/errors.sw
  airdrop/project/contracts/distributor-contract/src/interface.sw
  auctions/english-auction/project/contracts/auction-contract/src/data_structures/auction.sw
  auctions/english-auction/project/contracts/auction-contract/src/data_structures/auction_asset.sw
  auctions/english-auction/project/contracts/auction-contract/src/data_structures/nft_asset.sw
  auctions/english-auction/project/contracts/auction-contract/src/data_structures/state.sw
  auctions/english-auction/project/contracts/auction-contract/src/data_structures/token_asset.sw
  auctions/english-auction/project/contracts/auction-contract/src/data_structures/traits.sw
  auctions/english-auction/project/contracts/auction-contract/src/errors.sw
  auctions/english-auction/project/contracts/auction-contract/src/events.sw
  auctions/english-auction/project/contracts/auction-contract/src/interface.sw
  auctions/english-auction/project/contracts/auction-contract/src/utils.sw
Labels: Documentation, App: Auctions, App: Airdrop

#721 counter-script docs
  counter-script/project/contracts/counter/src/main.sw
  counter-script/project/libraries/src/interface.sw
  counter-script/project/scripts/interaction_script/src/main.sw
Labels: Documentation

#716 Implement low_level_call into the multisig
  multisig-wallet/.docs/multisig-wallet-sequence-diagram.png
  multisig-wallet/.docs/sequence-diagram.drawio
  multisig-wallet/project/Cargo.lock
  multisig-wallet/project/Forc.lock
  multisig-wallet/project/Forc.toml
  multisig-wallet/project/SPECIFICATION.md
  multisig-wallet/project/contracts/multisig-contract/src/data_structures/hashing.sw
  multisig-wallet/project/contracts/multisig-contract/src/data_structures/signatures.sw
  multisig-wallet/project/contracts/multisig-contract/src/data_structures/user.sw
  multisig-wallet/project/contracts/multisig-contract/src/errors.sw
  multisig-wallet/project/contracts/multisig-contract/src/events.sw
  multisig-wallet/project/contracts/multisig-contract/src/interface.sw
  multisig-wallet/project/contracts/multisig-contract/src/main.sw
  multisig-wallet/project/contracts/multisig-contract/src/utils.sw
  multisig-wallet/project/contracts/multisig-contract/tests/functions/core/execute_transaction.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/core/mod.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/core/set_threshold.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/core/set_weight.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/core/transfer.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/info/compute_hash.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/info/mod.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/info/threshold_hash.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/info/transaction_hash.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/info/weight_hash.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/mod.rs
  multisig-wallet/project/contracts/multisig-contract/tests/utils/interface/core.rs
  multisig-wallet/project/contracts/multisig-contract/tests/utils/interface/info.rs
  multisig-wallet/project/contracts/multisig-contract/tests/utils/interface/mod.rs
  multisig-wallet/project/contracts/multisig-contract/tests/utils/interface/target_contract.rs
  multisig-wallet/project/contracts/multisig-contract/tests/utils/mod.rs
  multisig-wallet/project/contracts/multisig-contract/tests/utils/setup.rs
  multisig-wallet/project/contracts/test-artifacts/target-contract/Forc.toml
  multisig-wallet/project/contracts/test-artifacts/target-contract/src/main.sw
Labels: New Feature, App: Multisig

#725 Escrow docs
  escrow/project/contracts/escrow-contract/src/data_structures.sw
  escrow/project/contracts/escrow-contract/src/errors.sw
  escrow/project/contracts/escrow-contract/src/events.sw
  escrow/project/contracts/escrow-contract/src/interface.sw
Labels: Documentation, App: Escrow

#726 Fundraiser docs
  fundraiser/project/contracts/fundraiser-contract/src/data_structures/asset_info.sw
  fundraiser/project/contracts/fundraiser-contract/src/data_structures/campaign.sw
  fundraiser/project/contracts/fundraiser-contract/src/data_structures/campaign_info.sw
  fundraiser/project/contracts/fundraiser-contract/src/data_structures/campaign_state.sw
  fundraiser/project/contracts/fundraiser-contract/src/data_structures/pledge.sw
  fundraiser/project/contracts/fundraiser-contract/src/errors.sw
  fundraiser/project/contracts/fundraiser-contract/src/events.sw
  fundraiser/project/contracts/fundraiser-contract/src/interface.sw
  fundraiser/project/contracts/fundraiser-contract/src/utils.sw
Labels: Documentation, App: Fundraiser

#727 tictactoe docs
  games/TicTacToe/project/contracts/tictactoe-contract/src/data_structures.sw
  games/TicTacToe/project/contracts/tictactoe-contract/src/errors.sw
  games/TicTacToe/project/contracts/tictactoe-contract/src/events.sw
  games/TicTacToe/project/contracts/tictactoe-contract/src/interface.sw
  games/TicTacToe/project/contracts/tictactoe-contract/src/utils.sw
Labels: Documentation, App: Games

#728 Oracle docs
  oracle/project/contracts/oracle-contract/src/data_structures.sw
  oracle/project/contracts/oracle-contract/src/errors.sw
  oracle/project/contracts/oracle-contract/src/events.sw
  oracle/project/contracts/oracle-contract/src/interface.sw
  oracle/project/contracts/oracle-contract/src/main.sw
Labels: Documentation, App: Oracle

#729 Timelock and OTC docs
  OTC-swap-predicate/project/predicates/swap-predicate/src/main.sw
  timelock/project/contracts/timelock-contract/src/data_structures.sw
  timelock/project/contracts/timelock-contract/src/errors.sw
  timelock/project/contracts/timelock-contract/src/events.sw
  timelock/project/contracts/timelock-contract/src/interface.sw
  timelock/project/contracts/timelock-contract/src/utils.sw
Labels: Documentation, App: OTC Predicate, App: Timelock

#730 Bumping contributing book
  .docs/contributing-book/src/code/Forc.lock
  .docs/contributing-book/src/code/fuel-toolchain.toml
  .github/workflows/ci.yml
  oracle/project/oracle-node/tests/functions/run.rs
Labels: Repo Misc
