Repository FuelLabs/sway-applications, pull requests merged in 2023-04, with the labels that each got.

#610 Include block manipulation in commented escrow tests
  escrow/project/contracts/escrow-contract/tests/functions/core/take_payment.rs
  escrow/project/contracts/escrow-contract/tests/functions/core/withdraw_collateral.rs
  escrow/project/contracts/escrow-contract/tests/harness.rs
  escrow/project/contracts/escrow-contract/tests/utils/setup.rs
Labels: Good First Issue, Improvement, App: Escrow

#615 Bump CI
  .docs/contributing-book/src/code/Forc.lock
  .docs/contributing-book/src/code/bad_documentation/src/lib.sw
  .docs/contributing-book/src/code/connect_four/src/data_structures.sw
  .docs/contributing-book/src/code/connect_four/src/errors.sw
  .docs/contributing-book/src/code/connect_four/src/events.sw
  .docs/contributing-book/src/code/connect_four/src/interface.sw
  .docs/contributing-book/src/code/connect_four/src/main.sw
  .docs/contributing-book/src/code/connect_four/src/utils.sw
  .docs/contributing-book/src/code/fuel-toolchain.toml
  .github/workflows/ci.yml
Labels: Repo Misc

#506 Bump: Timelock
  timelock/README.md
  timelock/project/Cargo.lock
  timelock/project/Forc.lock
  timelock/project/contracts/timelock-contract/Cargo.toml
  timelock/project/contracts/timelock-contract/Forc.toml
  timelock/project/contracts/timelock-contract/src/data_structures.sw
  timelock/project/contracts/timelock-contract/src/errors.sw
  timelock/project/contracts/timelock-contract/src/events.sw
  timelock/project/contracts/timelock-contract/src/interface.sw
  timelock/project/contracts/timelock-contract/src/main.sw
  timelock/project/contracts/timelock-contract/src/utils.sw
  timelock/project/contracts/timelock-contract/tests/utils/interface/core.rs
  timelock/project/contracts/timelock-contract/tests/utils/interface/info.rs
  timelock/project/fuel-toolchain.toml
Labels: Improvement, App: Timelock

#509 Bump: TicTacToe
  games/TicTacToe/README.md
  games/TicTacToe/project/Cargo.lock
  games/TicTacToe/project/Forc.lock
  games/TicTacToe/project/contracts/tictactoe-contract/Cargo.toml
  games/TicTacToe/project/contracts/tictactoe-contract/src/data_structures.sw
  games/TicTacToe/project/contracts/tictactoe-contract/src/errors.sw
  games/TicTacToe/project/contracts/tictactoe-contract/src/events.sw
  games/TicTacToe/project/contracts/tictactoe-contract/src/interface.sw
  games/TicTacToe/project/contracts/tictactoe-contract/src/main.sw
  games/TicTacToe/project/contracts/tictactoe-contract/src/utils.sw
  games/TicTacToe/project/contracts/tictactoe-contract/tests/utils/interface.rs
  games/TicTacToe/project/contracts/tictactoe-contract/tests/utils/setup.rs
  games/TicTacToe/project/fuel-toolchain.toml
Labels: Improvement, App: Games

#618 Categorise applications in repo README
  README.md
Labels: Documentation

#619 Update CODEOWNER for Nick F
  .github/CODEOWNERS
Labels: Repo Misc

#620 Timelock: bump README versions
  timelock/README.md
Labels: Repo Misc, App: Timelock

#621 Tictactoe: Bump README versions
  games/TicTacToe/README.md
Labels: App: Games, Repo Misc

#511 Bump: Multisig
  multisig-wallet/README.md
  multisig-wallet/project/Cargo.lock
  multisig-wallet/project/Forc.lock
  multisig-wallet/project/contracts/multisig-contract/Cargo.toml
  multisig-wallet/project/contracts/multisig-contract/Forc.toml
  multisig-wallet/project/contracts/multisig-contract/src/data_structures.sw
  multisig-wallet/project/contracts/multisig-contract/src/data_structures/hashing.sw
  multisig-wallet/project/contracts/multisig-contract/src/data_structures/signatures.sw
  multisig-wallet/project/contracts/multisig-contract/src/data_structures/user.sw
  multisig-wallet/project/contracts/multisig-contract/src/errors.sw
  multisig-wallet/project/contracts/multisig-contract/src/events.sw
  multisig-wallet/project/contracts/multisig-contract/src/interface.sw
  multisig-wallet/project/contracts/multisig-contract/src/main.sw
  multisig-wallet/project/contracts/multisig-contract/src/utils.sw
  multisig-wallet/project/contracts/multisig-contract/tests/functions/core/set_threshold.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/core/set_weight.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/core/transfer.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/info/balance.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/info/threshold_hash.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/info/transaction_hash.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/info/weight_hash.rs
  multisig-wallet/project/contracts/multisig-contract/tests/utils/interface/core.rs
  multisig-wallet/project/contracts/multisig-contract/tests/utils/interface/info.rs
  multisig-wallet/project/contracts/multisig-contract/tests/utils/setup.rs
  multisig-wallet/project/fuel-toolchain.toml
Labels: Improvement, App: Multisig

#512 Bump: Fundraiser
  fundraiser/README.md
  fundraiser/project/Cargo.lock
  fundraiser/project/Forc.lock
  fundraiser/project/contracts/fundraiser-contract/Cargo.toml
  fundraiser/project/contracts/fundraiser-contract/Forc.toml
  fundraiser/project/contracts/fundraiser-contract/src/data_structures.sw
  fundraiser/project/contracts/fundraiser-contract/src/data_structures/asset_info.sw
  fundraiser/project/contracts/fundraiser-contract/src/data_structures/campaign.sw
  fundraiser/project/contracts/fundraiser-contract/src/data_structures/campaign_info.sw
  fundraiser/project/contracts/fundraiser-contract/src/data_structures/campaign_state.sw
  fundraiser/project/contracts/fundraiser-contract/src/data_structures/pledge.sw
  fundraiser/project/contracts/fundraiser-contract/src/errors.sw
  fundraiser/project/contracts/fundraiser-contract/src/events.sw
  fundraiser/project/contracts/fundraiser-contract/src/interface.sw
  fundraiser/project/contracts/fundraiser-contract/src/main.sw
  fundraiser/project/contracts/fundraiser-contract/src/utils.sw
  fundraiser/project/contracts/fundraiser-contract/tests/artifacts/asset/Forc.toml
  fundraiser/project/contracts/fundraiser-contract/tests/functions/core/cancel_campaign.rs
  fundraiser/project/contracts/fundraiser-contract/tests/functions/core/claim_pledges.rs
  fundraiser/project/contracts/fundraiser-contract/tests/functions/core/create_campaign.rs
  fundraiser/project/contracts/fundraiser-contract/tests/functions/core/pledge.rs
  fundraiser/project/contracts/fundraiser-contract/tests/functions/core/unpledge.rs
  fundraiser/project/contracts/fundraiser-contract/tests/functions/info/campaign.rs
  fundraiser/project/contracts/fundraiser-contract/tests/functions/info/campaign_info.rs
  fundraiser/project/contracts/fundraiser-contract/tests/functions/info/pledged.rs
  fundraiser/project/contracts/fundraiser-contract/tests/utils/interface/core.rs
  fundraiser/project/contracts/fundraiser-contract/tests/utils/interface/info.rs
  fundraiser/project/contracts/fundraiser-contract/tests/utils/setup.rs
  fundraiser/project/fuel-toolchain.toml
Labels: Improvement, App: Fundraiser

#517 Bump: DAO
  DAO/README.md
  DAO/project/Cargo.lock
  DAO/project/Forc.lock
  DAO/project/contracts/DAO-contract/Cargo.toml
  DAO/project/contracts/DAO-contract/src/data_structures.sw
  DAO/project/contracts/DAO-contract/src/errors.sw
  DAO/project/contracts/DAO-contract/src/events.sw
  DAO/project/contracts/DAO-contract/src/interface.sw
  DAO/project/contracts/DAO-contract/src/main.sw
  DAO/project/contracts/DAO-contract/src/utils.sw
  DAO/project/contracts/DAO-contract/tests/functions/core/constructor.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/create_proposal.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/deposit.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/execute.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/unlock_votes.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/vote.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/withdraw.rs
  DAO/project/contracts/DAO-contract/tests/functions/info/balance.rs
  DAO/project/contracts/DAO-contract/tests/functions/info/user_balance.rs
  DAO/project/contracts/DAO-contract/tests/functions/info/user_votes.rs
  DAO/project/contracts/DAO-contract/tests/utils/interface/core.rs
  DAO/project/contracts/DAO-contract/tests/utils/interface/info.rs
  DAO/project/contracts/DAO-contract/tests/utils/setup.rs
  DAO/project/fuel-toolchain.toml
Labels: Improvement, App: DAO

#622 Multisig: Bump
  multisig-wallet/README.md
  multisig-wallet/project/Cargo.lock
  multisig-wallet/project/contracts/multisig-contract/Cargo.toml
  multisig-wallet/project/contracts/multisig-contract/tests/functions/core/cancel_transaction.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/core/set_threshold.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/core/set_weight.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/core/transfer.rs
  multisig-wallet/project/contracts/multisig-contract/tests/utils/setup.rs
  multisig-wallet/project/fuel-toolchain.toml
Labels: Improvement, App: Multisig

#520 Bump: Name Registry
  name-registry/README.md
  name-registry/project/Cargo.lock
  name-registry/project/Forc.lock
  name-registry/project/contracts/registry-contract/Cargo.toml
  name-registry/project/contracts/registry-contract/Forc.toml
  name-registry/project/contracts/registry-contract/src/data_structures.sw
  name-registry/project/contracts/registry-contract/src/errors.sw
  name-registry/project/contracts/registry-contract/src/events.sw
  name-registry/project/contracts/registry-contract/src/interface.sw
  name-registry/project/contracts/registry-contract/src/main.sw
  name-registry/project/contracts/registry-contract/tests/functions/core/extend.rs
  name-registry/project/contracts/registry-contract/tests/functions/core/register.rs
  name-registry/project/contracts/registry-contract/tests/functions/core/set_identity.rs
  name-registry/project/contracts/registry-contract/tests/functions/core/set_owner.rs
  name-registry/project/contracts/registry-contract/tests/utils/interface/core.rs
  name-registry/project/contracts/registry-contract/tests/utils/interface/info.rs
  name-registry/project/contracts/registry-contract/tests/utils/setup.rs
  name-registry/project/fuel-toolchain.toml
Labels: Improvement, App: Name Registry

#565 Bump: .template
  .devops/.template/README.md
  .devops/.template/project/Cargo.lock
  .devops/.template/project/Forc.lock
  .devops/.template/project/contracts/template-contract/Cargo.toml
  .devops/.template/project/contracts/template-contract/src/data_structures.sw
  .devops/.template/project/contracts/template-contract/src/data_structures/example.sw
  .devops/.template/project/contracts/template-contract/src/errors.sw
  .devops/.template/project/contracts/template-contract/src/events.sw
  .devops/.template/project/contracts/template-contract/src/interface.sw
  .devops/.template/project/contracts/template-contract/src/main.sw
  .devops/.template/project/contracts/template-contract/src/utils.sw
  .devops/.template/project/contracts/template-contract/tests/utils/interface/core.rs
  .devops/.template/project/contracts/template-contract/tests/utils/setup.rs
  .devops/.template/project/fuel-toolchain.toml
Labels: Improvement, Repo Misc

#519 Bump: Auction
  auctions/english-auction/README.md
  auctions/english-auction/project/Cargo.lock
  auctions/english-auction/project/Forc.lock
  auctions/english-auction/project/contracts/auction-contract/Cargo.toml
  auctions/english-auction/project/contracts/auction-contract/Forc.toml
  auctions/english-auction/project/contracts/auction-contract/src/data_structures.sw
  auctions/english-auction/project/contracts/auction-contract/src/data_structures/auction.sw
  auctions/english-auction/project/contracts/auction-contract/src/data_structures/auction_asset.sw
  auctions/english-auction/project/contracts/auction-contract/src/data_structures/nft_asset.sw
  auctions/english-auction/project/contracts/auction-contract/src/data_structures/state.sw
  auctions/english-auction/project/contracts/auction-contract/src/data_structures/token_asset.sw
  auctions/english-auction/project/contracts/auction-contract/src/data_structures/traits.sw
  auctions/english-auction/project/contracts/auction-contract/src/errors.sw
  auctions/english-auction/project/contracts/auction-contract/src/events.sw
  auctions/english-auction/project/contracts/auction-contract/src/interface.sw
  auctions/english-auction/project/contracts/auction-contract/src/main.sw
  auctions/english-auction/project/contracts/auction-contract/src/utils.sw
  auctions/english-auction/project/contracts/auction-contract/tests/artifacts/NFT/Forc.toml
  auctions/english-auction/project/contracts/auction-contract/tests/artifacts/asset/Forc.toml
  auctions/english-auction/project/contracts/auction-contract/tests/functions/core/bid.rs
  auctions/english-auction/project/contracts/auction-contract/tests/functions/core/cancel.rs
  auctions/english-auction/project/contracts/auction-contract/tests/functions/core/create.rs
  auctions/english-auction/project/contracts/auction-contract/tests/functions/core/withdraw.rs
  auctions/english-auction/project/contracts/auction-contract/tests/functions/info/auction_info.rs
  auctions/english-auction/project/contracts/auction-contract/tests/functions/info/total_auctions.rs
  auctions/english-auction/project/contracts/auction-contract/tests/utils/interface/core.rs
  auctions/english-auction/project/contracts/auction-contract/tests/utils/interface/info.rs
  auctions/english-auction/project/contracts/auction-contract/tests/utils/setup.rs
  auctions/english-auction/project/fuel-toolchain.toml
Labels: Improvement, App: Auctions

#626 Bump: Airdrop
  airdrop/README.md
  airdrop/project/Cargo.lock
  airdrop/project/Forc.lock
  airdrop/project/contracts/asset-contract/Cargo.toml
  airdrop/project/contracts/asset-contract/src/errors.sw
  airdrop/project/contracts/asset-contract/src/interface.sw
  airdrop/project/contracts/asset-contract/src/main.sw
  airdrop/project/contracts/asset-contract/tests/functions/mint_to.rs
  airdrop/project/contracts/asset-contract/tests/utils/interface.rs
  airdrop/project/contracts/asset-contract/tests/utils/setup.rs
  airdrop/project/contracts/distributor-contract/Cargo.toml
  airdrop/project/contracts/distributor-contract/Forc.toml
  airdrop/project/contracts/distributor-contract/src/data_structures.sw
  airdrop/project/contracts/distributor-contract/src/errors.sw
  airdrop/project/contracts/distributor-contract/src/events.sw
  airdrop/project/contracts/distributor-contract/src/interface.sw
  airdrop/project/contracts/distributor-contract/src/main.sw
  airdrop/project/contracts/distributor-contract/tests/functions/core/claim.rs
  airdrop/project/contracts/distributor-contract/tests/functions/core/clawback.rs
  airdrop/project/contracts/distributor-contract/tests/functions/core/constructor.rs
  airdrop/project/contracts/distributor-contract/tests/functions/info/end_block.rs
  airdrop/project/contracts/distributor-contract/tests/functions/info/is_active.rs
  airdrop/project/contracts/distributor-contract/tests/utils/interface/core.rs
  airdrop/project/contracts/distributor-contract/tests/utils/interface/info.rs
  airdrop/project/contracts/distributor-contract/tests/utils/setup.rs
  airdrop/project/fuel-toolchain.toml
Labels: Improvement, App: Airdrop

#629 Bump: Escrow
  escrow/README.md
  escrow/project/Cargo.lock
  escrow/project/Forc.lock
  escrow/project/contracts/escrow-contract/Cargo.toml
  escrow/project/contracts/escrow-contract/src/data_structures.sw
  escrow/project/contracts/escrow-contract/src/errors.sw
  escrow/project/contracts/escrow-contract/src/events.sw
  escrow/project/contracts/escrow-contract/src/interface.sw
  escrow/project/contracts/escrow-contract/src/main.sw
  escrow/project/contracts/escrow-contract/tests/functions/core/accept_arbiter.rs
  escrow/project/contracts/escrow-contract/tests/functions/core/create_escrow.rs
  escrow/project/contracts/escrow-contract/tests/functions/core/deposit.rs
  escrow/project/contracts/escrow-contract/tests/functions/core/dispute.rs
  escrow/project/contracts/escrow-contract/tests/functions/core/propose_arbiter.rs
  escrow/project/contracts/escrow-contract/tests/functions/core/resolve_dispute.rs
  escrow/project/contracts/escrow-contract/tests/functions/core/return_deposit.rs
  escrow/project/contracts/escrow-contract/tests/functions/core/take_payment.rs
  escrow/project/contracts/escrow-contract/tests/functions/core/transfer_to_seller.rs
  escrow/project/contracts/escrow-contract/tests/functions/core/withdraw_collateral.rs
  escrow/project/contracts/escrow-contract/tests/utils/interface/core.rs
  escrow/project/contracts/escrow-contract/tests/utils/setup.rs
  escrow/project/fuel-toolchain.toml
Labels: Improvement, App: Escrow

#630 Bump: Oracle
  oracle/README.md
  oracle/project/Cargo.lock
  oracle/project/Forc.lock
  oracle/project/contracts/oracle-contract/Cargo.toml
  oracle/project/contracts/oracle-contract/Forc.toml
  oracle/project/contracts/oracle-contract/src/data_structures.sw
  oracle/project/contracts/oracle-contract/src/errors.sw
  oracle/project/contracts/oracle-contract/src/events.sw
  oracle/project/contracts/oracle-contract/src/interface.sw
  oracle/project/contracts/oracle-contract/src/main.sw
  oracle/project/contracts/oracle-contract/tests/functions/set_price.rs
  oracle/project/fuel-toolchain.toml
  oracle/project/oracle-node/Cargo.toml
  oracle/project/oracle-node/src/lib.rs
  oracle/project/oracle-node/src/main.rs
  oracle/project/utils/Cargo.toml
  oracle/project/utils/src/lib.rs
Labels: Improvement, App: Oracle

#624 Bump: AMM
  AMM/README.md
  AMM/project/Cargo.lock
  AMM/project/Forc.lock
  AMM/project/contracts/AMM-contract/Cargo.toml
  AMM/project/contracts/AMM-contract/src/errors.sw
  AMM/project/contracts/AMM-contract/src/events.sw
  AMM/project/contracts/AMM-contract/src/main.sw
  AMM/project/contracts/AMM-contract/tests/functions/add_pool.rs
  AMM/project/contracts/AMM-contract/tests/functions/initialize.rs
  AMM/project/contracts/AMM-contract/tests/utils/mod.rs
  AMM/project/contracts/exchange-contract/Cargo.toml
  AMM/project/contracts/exchange-contract/Forc.toml
  AMM/project/contracts/exchange-contract/src/errors.sw
  AMM/project/contracts/exchange-contract/src/events.sw
  AMM/project/contracts/exchange-contract/src/main.sw
  AMM/project/contracts/exchange-contract/src/utils.sw
  AMM/project/contracts/exchange-contract/tests/functions/add_liquidity.rs
  AMM/project/contracts/exchange-contract/tests/functions/constructor.rs
  AMM/project/contracts/exchange-contract/tests/functions/deposit.rs
  AMM/project/contracts/exchange-contract/tests/functions/remove_liquidity.rs
  AMM/project/contracts/exchange-contract/tests/functions/swap_exact_input.rs
  AMM/project/contracts/exchange-contract/tests/functions/swap_exact_output.rs
  AMM/project/contracts/exchange-contract/tests/functions/withdraw.rs
  AMM/project/contracts/exchange-contract/tests/utils/mod.rs
  AMM/project/fuel-toolchain.toml
  AMM/project/libraries/src/data_structures.sw
  AMM/project/libraries/src/interface.sw
  AMM/project/scripts/atomic-add-liquidity/Cargo.toml
  AMM/project/scripts/atomic-add-liquidity/tests/cases/revert.rs
  AMM/project/scripts/atomic-add-liquidity/tests/cases/success.rs
  AMM/project/scripts/atomic-add-liquidity/tests/utils/mod.rs
  AMM/project/scripts/swap-exact-input/Cargo.toml
  AMM/project/scripts/swap-exact-input/Forc.toml
  AMM/project/scripts/swap-exact-input/src/main.sw
  AMM/project/scripts/swap-exact-input/tests/cases/revert.rs
  AMM/project/scripts/swap-exact-input/tests/utils/mod.rs
  AMM/project/scripts/swap-exact-output/Cargo.toml
  AMM/project/scripts/swap-exact-output/Forc.toml
  AMM/project/scripts/swap-exact-output/src/main.sw
  AMM/project/scripts/swap-exact-output/tests/cases/revert.rs
  AMM/project/scripts/swap-exact-output/tests/utils/mod.rs
  AMM/project/test-utils/Cargo.toml
  AMM/project/test-utils/src/data_structures.rs
  AMM/project/test-utils/src/interface.rs
  AMM/project/test-utils/src/setup.rs
Labels: Improvement, App: AMM

#638 Update contributing book link
  README.md
Labels: Documentation

#634 Add `clippy` to CI
  .devops/.template/project/contracts/template-contract/tests/functions/core/template.rs
  .github/workflows/ci.yml
  airdrop/project/contracts/distributor-contract/tests/utils/setup.rs
  auctions/english-auction/project/contracts/auction-contract/tests/utils/setup.rs
  escrow/project/contracts/escrow-contract/tests/utils/setup.rs
  fractional-NFT/project/contracts/token-distributor-contract/tests/utils/interface/core.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/core/set_weight.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/info/approval_weight.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/info/threshold_hash.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/info/transaction_hash.rs
  multisig-wallet/project/contracts/multisig-contract/tests/functions/info/weight_hash.rs
  multisig-wallet/project/contracts/multisig-contract/tests/utils/interface/core.rs
Labels: Repo Misc

#642 Timelock: change data to be optional
  timelock/project/contracts/timelock-contract/src/events.sw
  timelock/project/contracts/timelock-contract/src/interface.sw
  timelock/project/contracts/timelock-contract/src/main.sw
  timelock/project/contracts/timelock-contract/src/utils.sw
Labels: Improvement, App: Timelock
