Repository FuelLabs/sway-applications, pull requests merged in 2023-02, with the labels that each got.

#390 Vault: `asset()` & `total_assets()`
  .devops/build.sh
  .devops/test.sh
  .github/workflows/ci.yml
  README.md
  Vault/project/vault-contract/tests/functions/info/preview_withdraw.rs
  Vault/project/vault-contract/tests/functions/info/total_assets.rs
  vault/.docs/vault-logo-dark-theme.png
  vault/.docs/vault-logo-light-theme.png
  vault/.gitignore
  vault/Cargo.toml
  vault/Forc.toml
  vault/README.md
  vault/SPECIFICATION.md
  vault/project/vault-contract/Cargo.toml
  vault/project/vault-contract/Forc.toml
  vault/project/vault-contract/src/data_structures/example.sw
  vault/project/vault-contract/src/errors.sw
  vault/project/vault-contract/src/events.sw
  vault/project/vault-contract/src/interface.sw
  vault/project/vault-contract/src/main.sw
  vault/project/vault-contract/src/utils.sw
  vault/project/vault-contract/tests/functions/core/deposit.rs
  vault/project/vault-contract/tests/functions/core/mint.rs
  vault/project/vault-contract/tests/functions/core/mod.rs
  vault/project/vault-contract/tests/functions/core/redeem.rs
  vault/project/vault-contract/tests/functions/core/withdraw.rs
  vault/project/vault-contract/tests/functions/info/asset.rs
  vault/project/vault-contract/tests/functions/info/convert_to_assets.rs
  vault/project/vault-contract/tests/functions/info/convert_to_shares.rs
  vault/project/vault-contract/tests/functions/info/max_deposit.rs
  vault/project/vault-contract/tests/functions/info/max_mint.rs
  vault/project/vault-contract/tests/functions/info/max_redeem.rs
  vault/project/vault-contract/tests/functions/info/max_withdraw.rs
  vault/project/vault-contract/tests/functions/info/mod.rs
  vault/project/vault-contract/tests/functions/info/preview_deposit.rs
  vault/project/vault-contract/tests/functions/info/preview_mint.rs
  vault/project/vault-contract/tests/functions/info/preview_redeem.rs
  vault/project/vault-contract/tests/functions/info/preview_withdraw.rs
  vault/project/vault-contract/tests/functions/info/total_assets.rs
  vault/project/vault-contract/tests/functions/mod.rs
  vault/project/vault-contract/tests/harness.rs
  vault/project/vault-contract/tests/utils/interface/core.rs
  vault/project/vault-contract/tests/utils/interface/info.rs
  vault/project/vault-contract/tests/utils/interface/mod.rs
  vault/project/vault-contract/tests/utils/mod.rs
  vault/project/vault-contract/tests/utils/setup.rs
Labels: New Feature, App: Vault

#396 Airdrop: Implement ignored tests
  airdrop/project/contracts/distributor-contract/Forc.toml
  airdrop/project/contracts/distributor-contract/tests/functions/claim.rs
  airdrop/project/contracts/distributor-contract/tests/functions/claim_data.rs
  airdrop/project/contracts/distributor-contract/tests/utils/mod.rs
Labels: Improvement, App: Airdrop

#377 Pin `forc` and `fuel-core` versions in `fuel-toolchain.toml`
  .github/workflows/ci.yml
  .template/README.md
  .template/fuel-toolchain.toml
  AMM/README.md
  AMM/fuel-toolchain.toml
  DAO/README.md
  DAO/fuel-toolchain.toml
  NFT/README.md
  NFT/fuel-toolchain.toml
  OTC-swap-predicate/README.md
  OTC-swap-predicate/fuel-toolchain.toml
  README.md
  airdrop/README.md
  airdrop/fuel-toolchain.toml
  auctions/english-auction/README.md
  auctions/fuel-toolchain.toml
  escrow/README.md
  escrow/fuel-toolchain.toml
  fractional-NFT/README.md
  fractional-NFT/fuel-toolchain.toml
  fundraiser/README.md
  fundraiser/fuel-toolchain.toml
  games/.gitignore
  games/TicTacToe/README.md
  games/TicTacToe/fuel-toolchain.toml
  multisig-wallet/README.md
  multisig-wallet/fuel-toolchain.toml
  name-registry/README.md
  name-registry/fuel-toolchain.toml
  oracle/README.md
  oracle/fuel-toolchain.toml
  timelock/README.md
  timelock/fuel-toolchain.toml
Labels: Repo Misc

#406 Fix CI
  .github/workflows/ci.yml
Labels: Repo Misc

#459 Removed StorageMap
  name-registry/project/registry-contract/src/main.sw
Labels: Good First Issue, Improvement, App: Name Registry

#463 Commit_fix
  OTC-swap-predicate/project/swap-predicate/tests/utils/mod.rs
Labels: Good First Issue, Improvement, App: OTC Predicate

#465 Fix `build.sh` devops script
  .devops/build.sh
Labels: Bug, Repo Misc

#402 AMM: Remove `ExpectedZeroAmount` error and relevant test
  .github/workflows/ci.yml
  AMM/README.md
  AMM/project/contracts/AMM-contract/Cargo.toml
  AMM/project/contracts/exchange-contract/Cargo.toml
  AMM/project/contracts/exchange-contract/src/errors.sw
  AMM/project/contracts/exchange-contract/src/main.sw
  AMM/project/contracts/exchange-contract/tests/functions/add_liquidity.rs
  AMM/project/scripts/atomic-add-liquidity/Cargo.toml
  AMM/project/scripts/swap-exact-input/Cargo.toml
  AMM/project/scripts/swap-exact-output/Cargo.toml
  AMM/project/test-utils/Cargo.toml
  AMM/project/test-utils/src/interface.rs
  AMM/project/test-utils/src/setup.rs
Labels: Improvement, App: AMM

#467 New devops script to bump the fuel-toolchain.toml
  .devops/bump_toolchain.sh
  .devops/fuel-toolchain.toml
Labels: New Feature, Repo Misc

#486 Factor out apps in `.devops` scripts into a single location
  .devops/apps.txt
  .devops/build.sh
  .devops/bump_toolchain.sh
  .devops/test.sh
Labels: Improvement, Repo Misc

#488 Remove the `Forc.toml` in `.template/.docs`
  .template/.docs/.gitkeep
  .template/.docs/Forc.toml
Labels: Improvement

#490 Update ignore path in `.template/.gitignore`
  .template/.gitignore
Labels: Good First Issue, Improvement

#492 Fix typo in UI scaffold script
  .ui_scaffold/setup.sh
Labels: Improvement

#399 OTC swap frontend
  OTC-swap-predicate/frontend/.gitignore
  OTC-swap-predicate/frontend/package-lock.json
  OTC-swap-predicate/frontend/package.json
  OTC-swap-predicate/frontend/public/favicon.ico
  OTC-swap-predicate/frontend/public/index.html
  OTC-swap-predicate/frontend/public/manifest.json
  OTC-swap-predicate/frontend/src/App.css
  OTC-swap-predicate/frontend/src/App.tsx
  OTC-swap-predicate/frontend/src/components/offerInput.tsx
  OTC-swap-predicate/frontend/src/components/predicateInfo.tsx
  OTC-swap-predicate/frontend/src/components/tokensList.tsx
  OTC-swap-predicate/frontend/src/hooks/useFuel.ts
  OTC-swap-predicate/frontend/src/hooks/useNetwork.tsx
  OTC-swap-predicate/frontend/src/hooks/useProvider.ts
  OTC-swap-predicate/frontend/src/index.css
  OTC-swap-predicate/frontend/src/index.tsx
  OTC-swap-predicate/frontend/src/precompiles/swapPredicatePrecompile.tsx
  OTC-swap-predicate/frontend/src/utils/bytecodeUtils.tsx
  OTC-swap-predicate/frontend/src/utils/constants.tsx
  OTC-swap-predicate/frontend/src/utils/inputValidation.tsx
  OTC-swap-predicate/frontend/src/utils/predicateBalance.tsx
  OTC-swap-predicate/frontend/tsconfig.json
  OTC-swap-predicate/project/swap-predicate/Forc.toml
Labels: New Feature, App: OTC Predicate, User Interface

#496 UI scaffold: move `hooks` and `utils` into `src`
  .ui_scaffold/common/src/App.tsx
  .ui_scaffold/common/src/hooks/index.ts
  .ui_scaffold/common/src/hooks/useContract.ts
  .ui_scaffold/common/src/hooks/useFuel.ts
  .ui_scaffold/common/src/hooks/useWallet.ts
  .ui_scaffold/common/src/utils/index.tsx
  .ui_scaffold/common/src/utils/queryClient.tsx
  .ui_scaffold/setup.sh
Labels: Bug

#497 UI scaffold: Convert `echo`s to `printf`s
  .ui_scaffold/setup.sh
Labels: Improvement

#502 AMM: test emitted logs
  AMM/project/contracts/AMM-contract/tests/functions/add_pool.rs
  AMM/project/contracts/AMM-contract/tests/functions/initialize.rs
  AMM/project/contracts/AMM-contract/tests/utils/mod.rs
  AMM/project/contracts/exchange-contract/tests/functions/add_liquidity.rs
  AMM/project/contracts/exchange-contract/tests/functions/constructor.rs
  AMM/project/contracts/exchange-contract/tests/functions/deposit.rs
  AMM/project/contracts/exchange-contract/tests/functions/remove_liquidity.rs
  AMM/project/contracts/exchange-contract/tests/functions/swap_exact_input.rs
  AMM/project/contracts/exchange-contract/tests/functions/swap_exact_output.rs
  AMM/project/contracts/exchange-contract/tests/functions/withdraw.rs
  AMM/project/test-utils/src/interface.rs
  AMM/project/test-utils/src/setup.rs
Labels: Improvement, App: AMM

#500 Bump: AMM
  .github/workflows/ci.yml
  AMM/README.md
  AMM/project/contracts/AMM-contract/Cargo.toml
  AMM/project/contracts/AMM-contract/src/main.sw
  AMM/project/contracts/exchange-contract/Cargo.toml
  AMM/project/contracts/exchange-contract/src/main.sw
  AMM/project/fuel-toolchain.toml
  AMM/project/scripts/atomic-add-liquidity/Cargo.toml
  AMM/project/scripts/swap-exact-input/Cargo.toml
  AMM/project/scripts/swap-exact-input/Forc.toml
  AMM/project/scripts/swap-exact-input/src/main.sw
  AMM/project/scripts/swap-exact-output/Cargo.toml
  AMM/project/scripts/swap-exact-output/Forc.toml
  AMM/project/test-utils/Cargo.toml
Labels: Improvement, App: AMM

#539 remove Identity fn as described in issue #451
  games/TicTacToe/project/contracts/tictactoe-contract/tests/utils/setup.rs
Labels: Good First Issue, Improvement, App: Games

#538 made preludes import explicit as stated in issue #434
  games/TicTacToe/project/contracts/tictactoe-contract/tests/utils/setup.rs
Labels: Good First Issue, Improvement, App: Games

#542 Changed prelude imports to be explicit as detailed in issue #433
  fundraiser/project/contracts/fundraiser-contract/tests/utils/interface/core.rs
  fundraiser/project/contracts/fundraiser-contract/tests/utils/setup.rs
Labels: Good First Issue, Improvement, App: Fundraiser

#521 Bump: OTC
  OTC-swap-predicate/README.md
  OTC-swap-predicate/project/fuel-toolchain.toml
  OTC-swap-predicate/project/predicates/swap-predicate/Cargo.toml
  OTC-swap-predicate/project/predicates/swap-predicate/Forc.toml
Labels: Improvement, App: OTC Predicate

#529 F-NFT: Fix readme path link to specification
  fractional-NFT/README.md
Labels: Documentation, App: Fractional NFT

#544 OTC Swap Predicate: Remove transaction building workaround
  OTC-swap-predicate/project/predicates/swap-predicate/tests/utils/mod.rs
Labels: Improvement, App: OTC Predicate

#541 DAO: Split the abi into core and info
  DAO/project/contracts/DAO-contract/src/interface.sw
  DAO/project/contracts/DAO-contract/src/main.sw
  DAO/project/contracts/DAO-contract/tests/functions/core/constructor.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/create_proposal.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/deposit.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/execute.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/mod.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/unlock_votes.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/vote.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/withdraw.rs
  DAO/project/contracts/DAO-contract/tests/functions/info/balance.rs
  DAO/project/contracts/DAO-contract/tests/functions/info/governance_token_id.rs
  DAO/project/contracts/DAO-contract/tests/functions/info/mod.rs
  DAO/project/contracts/DAO-contract/tests/functions/info/proposal.rs
  DAO/project/contracts/DAO-contract/tests/functions/info/proposal_count.rs
  DAO/project/contracts/DAO-contract/tests/functions/info/user_balance.rs
  DAO/project/contracts/DAO-contract/tests/functions/info/user_votes.rs
  DAO/project/contracts/DAO-contract/tests/functions/mod.rs
  DAO/project/contracts/DAO-contract/tests/utils/interface/core.rs
  DAO/project/contracts/DAO-contract/tests/utils/interface/info.rs
  DAO/project/contracts/DAO-contract/tests/utils/interface/mod.rs
  DAO/project/contracts/DAO-contract/tests/utils/mod.rs
  DAO/project/contracts/DAO-contract/tests/utils/setup.rs
Labels: Improvement, App: DAO

#510 Bump: Oracle
  oracle/README.md
  oracle/project/contracts/oracle-contract/Cargo.toml
  oracle/project/contracts/oracle-contract/src/data_structures.sw
  oracle/project/contracts/oracle-contract/src/errors.sw
  oracle/project/contracts/oracle-contract/src/events.sw
  oracle/project/contracts/oracle-contract/src/main.sw
  oracle/project/fuel-toolchain.toml
  oracle/project/oracle-node/Cargo.toml
  oracle/project/utils/Cargo.toml
Labels: Improvement, App: Oracle

#508 Fix `.devops/bump_toolchain.sh`
  .devops/bump_toolchain.sh
  .devops/fuel-toolchain.toml
Labels: Bug, Repo Misc

#527 Oracle: test emitted logs
  oracle/project/contracts/oracle-contract/tests/functions/set_price.rs
Labels: Improvement, App: Oracle

#551 Rebasing master onto Multisig Staging
  .ui_scaffold/common/hooks/index.ts
  .ui_scaffold/common/hooks/useContract.ts
  .ui_scaffold/common/hooks/useFuel.ts
  .ui_scaffold/common/hooks/useWallet.ts
  .ui_scaffold/common/utils/index.tsx
  .ui_scaffold/common/utils/queryClient.tsx
  .ui_scaffold/setup.sh
Labels: App: Multisig

#555 `.devops` script to format sway and rust code
  .devops/format.sh
Labels: New Feature, Repo Misc

#558 Bump CI
  .github/workflows/ci.yml
Labels: Repo Misc

#543 English Auction: Split the abi into core and info
  auctions/english-auction/project/contracts/auction-contract/src/interface.sw
  auctions/english-auction/project/contracts/auction-contract/src/main.sw
  auctions/english-auction/project/contracts/auction-contract/tests/functions/core/bid.rs
  auctions/english-auction/project/contracts/auction-contract/tests/functions/core/cancel.rs
  auctions/english-auction/project/contracts/auction-contract/tests/functions/core/create.rs
  auctions/english-auction/project/contracts/auction-contract/tests/functions/core/mod.rs
  auctions/english-auction/project/contracts/auction-contract/tests/functions/core/withdraw.rs
  auctions/english-auction/project/contracts/auction-contract/tests/functions/info/auction_info.rs
  auctions/english-auction/project/contracts/auction-contract/tests/functions/info/deposit_balance.rs
  auctions/english-auction/project/contracts/auction-contract/tests/functions/info/mod.rs
  auctions/english-auction/project/contracts/auction-contract/tests/functions/info/total_auctions.rs
  auctions/english-auction/project/contracts/auction-contract/tests/functions/mod.rs
  auctions/english-auction/project/contracts/auction-contract/tests/utils/interface/core.rs
  auctions/english-auction/project/contracts/auction-contract/tests/utils/interface/info.rs
  auctions/english-auction/project/contracts/auction-contract/tests/utils/interface/mod.rs
  auctions/english-auction/project/contracts/auction-contract/tests/utils/mod.rs
  auctions/english-auction/project/contracts/auction-contract/tests/utils/setup.rs
Labels: Improvement, App: Auctions

#524 Airdrop: test emitted logs
  airdrop/project/contracts/distributor-contract/tests/functions/claim.rs
  airdrop/project/contracts/distributor-contract/tests/functions/constructor.rs
Labels: Improvement, App: Airdrop

#525 NFT: test emitted logs
  NFT/project/contracts/NFT-contract/tests/functions/approve.rs
  NFT/project/contracts/NFT-contract/tests/functions/burn.rs
  NFT/project/contracts/NFT-contract/tests/functions/constructor.rs
  NFT/project/contracts/NFT-contract/tests/functions/mint.rs
  NFT/project/contracts/NFT-contract/tests/functions/set_admin.rs
  NFT/project/contracts/NFT-contract/tests/functions/set_approval_for_all.rs
  NFT/project/contracts/NFT-contract/tests/functions/transfer.rs
Labels: Improvement, App: NFT

#522 DAO: test emitted logs
  DAO/project/contracts/DAO-contract/src/events.sw
  DAO/project/contracts/DAO-contract/src/main.sw
  DAO/project/contracts/DAO-contract/tests/functions/core/constructor.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/create_proposal.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/deposit.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/execute.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/unlock_votes.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/vote.rs
  DAO/project/contracts/DAO-contract/tests/functions/core/withdraw.rs
Labels: Improvement, App: DAO

#523 Escrow: test emitted logs
  escrow/project/contracts/escrow-contract/tests/functions/accept_arbiter.rs
  escrow/project/contracts/escrow-contract/tests/functions/create_escrow.rs
  escrow/project/contracts/escrow-contract/tests/functions/deposit.rs
  escrow/project/contracts/escrow-contract/tests/functions/dispute.rs
  escrow/project/contracts/escrow-contract/tests/functions/propose_arbiter.rs
  escrow/project/contracts/escrow-contract/tests/functions/resolve_dispute.rs
  escrow/project/contracts/escrow-contract/tests/functions/return_deposit.rs
  escrow/project/contracts/escrow-contract/tests/functions/take_payment.rs
  escrow/project/contracts/escrow-contract/tests/functions/transfer_to_seller.rs
  escrow/project/contracts/escrow-contract/tests/functions/withdraw_collateral.rs
Labels: Improvement, App: Escrow

#516 Bump: Airdrop
  airdrop/README.md
  airdrop/project/contracts/asset-contract/Cargo.toml
  airdrop/project/contracts/asset-contract/Forc.toml
  airdrop/project/contracts/distributor-contract/Cargo.toml
  airdrop/project/contracts/distributor-contract/src/main.sw
  airdrop/project/fuel-toolchain.toml
Labels: Improvement, App: Airdrop

#540 Airdrop: Split the abi into core and info
  airdrop/project/SPECIFICATION.md
  airdrop/project/contracts/asset-contract/tests/functions/constructor.rs
  airdrop/project/contracts/asset-contract/tests/functions/mint_to.rs
  airdrop/project/contracts/asset-contract/tests/utils/interface.rs
  airdrop/project/contracts/asset-contract/tests/utils/mod.rs
  airdrop/project/contracts/asset-contract/tests/utils/setup.rs
  airdrop/project/contracts/distributor-contract/src/interface.sw
  airdrop/project/contracts/distributor-contract/src/main.sw
  airdrop/project/contracts/distributor-contract/tests/functions/core/claim.rs
  airdrop/project/contracts/distributor-contract/tests/functions/core/constructor.rs
  airdrop/project/contracts/distributor-contract/tests/functions/core/mod.rs
  airdrop/project/contracts/distributor-contract/tests/functions/info/claim_data.rs
  airdrop/project/contracts/distributor-contract/tests/functions/info/end_block.rs
  airdrop/project/contracts/distributor-contract/tests/functions/info/merkle_root.rs
  airdrop/project/contracts/distributor-contract/tests/functions/info/mod.rs
  airdrop/project/contracts/distributor-contract/tests/functions/mod.rs
  airdrop/project/contracts/distributor-contract/tests/utils/interface/core.rs
  airdrop/project/contracts/distributor-contract/tests/utils/interface/info.rs
  airdrop/project/contracts/distributor-contract/tests/utils/interface/mod.rs
  airdrop/project/contracts/distributor-contract/tests/utils/mod.rs
  airdrop/project/contracts/distributor-contract/tests/utils/setup.rs
Labels: Improvement, App: Airdrop

#513 Bump: Escrow
  escrow/README.md
  escrow/project/contracts/escrow-contract/Cargo.toml
  escrow/project/contracts/escrow-contract/Forc.toml
  escrow/project/contracts/escrow-contract/src/data_structures.sw
  escrow/project/contracts/escrow-contract/src/interface.sw
  escrow/project/contracts/escrow-contract/src/main.sw
  escrow/project/contracts/escrow-contract/tests/functions/create_escrow.rs
  escrow/project/contracts/escrow-contract/tests/functions/propose_arbiter.rs
  escrow/project/contracts/escrow-contract/tests/utils/mod.rs
  escrow/project/fuel-toolchain.toml
Labels: Improvement, App: Escrow

#566 Escrow: storage getters
  escrow/project/SPECIFICATION.md
  escrow/project/contracts/escrow-contract/src/interface.sw
  escrow/project/contracts/escrow-contract/src/main.sw
  escrow/project/contracts/escrow-contract/tests/functions/arbiter_proposal.rs
  escrow/project/contracts/escrow-contract/tests/functions/assets.rs
  escrow/project/contracts/escrow-contract/tests/functions/escrow_count.rs
  escrow/project/contracts/escrow-contract/tests/functions/escrows.rs
  escrow/project/contracts/escrow-contract/tests/functions/mod.rs
  escrow/project/contracts/escrow-contract/tests/utils/mod.rs
Labels: New Feature, App: Escrow

#514 Add information about the fuel-toolchain.toml files
  README.md
Labels: Documentation

#577 OTC: change fuels::prelude::* to be explicit #439
  OTC-swap-predicate/project/predicates/swap-predicate/tests/harness.rs
Labels: Good First Issue, Improvement, App: OTC Predicate

#576 Change all repository banners to use the new Fuel Logo
  .docs/sway-apps-logo-dark-theme.png
  .docs/sway-apps-logo-light-theme.png
  AMM/.docs/amm_logo-dark_theme.png
  AMM/.docs/amm_logo-light_theme.png
  DAO/.docs/dao-logo-dark-theme.png
  DAO/.docs/dao-logo-light-theme.png
  NFT/.docs/nft-logo_black.png
  NFT/.docs/nft-logo_white.png
  OTC-swap-predicate/.docs/otc-swap-predicate-logo-dark-theme.png
  OTC-swap-predicate/.docs/otc-swap-predicate-logo-light-theme.png
  airdrop/.docs/airdrop-distributor_dark.png
  airdrop/.docs/airdrop-distributor_light.png
  auctions/english-auction/.docs/english-auction_dark.png
  auctions/english-auction/.docs/english-auction_light.png
  escrow/.docs/escrow-logo-dark-theme.png
  escrow/.docs/escrow-logo-light-theme.png
  fractional-NFT/.docs/fractional-NFT-dark.png
  fractional-NFT/.docs/fractional-NFT-light.png
  fundraiser/.docs/fundraiser-logo-dark-theme.png
  fundraiser/.docs/fundraiser-logo-light-theme.png
  games/TicTacToe/.docs/tictactoe-logo-dark-theme.png
  games/TicTacToe/.docs/tictactoe-logo-light-theme.png
  multisig-wallet/.docs/multi-signature-logo-dark-theme.png
  multisig-wallet/.docs/multi-signature-logo-light-theme.png
  name-registry/.docs/name-registry-logo-dark-theme.png
  name-registry/.docs/name-registry-logo-light-theme.png
  oracle/.docs/oracle-logo-dark-theme.png
  oracle/.docs/oracle-logo-light-theme.png
  timelock/.docs/timelock-logo-dark-theme.png
  timelock/.docs/timelock-logo-light-theme.png
Labels: Repo Misc

#578 fix: build contracts once
  auctions/english-auction/english-auction.config.ts
  auctions/english-auction/packages/app/tests/App.spec.ts
  auctions/english-auction/packages/scripts/src/actions/buildContracts.ts
  auctions/english-auction/packages/scripts/src/types.ts
Labels: Bug, Improvement, App: Auctions

#581 Update book link in README
  README.md
Labels: Documentation
